<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Author</title>
</head>
<body>
    <div class="container d-flex justify-content-around pt-5 w-50">
        <div class="w-50">
            <h2>New Author</h2>
            <form action="/authors/process" method="POST">
                <div class="form-group">
                    <label for="fname" class="mr-4">First Name:</label>
                    <input type="text" name="fname">
                </div>
                <div class="form-group">
                    <label for="lname" class="mr-4">Last Name:</label>
                    <input type="text" name="lname">
                </div>
                <input type="submit" value="Create" class="btn btn-secondary">
            </form>
        </div>
        <div class="w-50">
            <h2>All Author</h2>
            <div class="border border-dark pl-3 pt-2 pb-2 mt-3 mb-3" >
                {%for author in all_authors%}
                <div>
                    <a href="/authors/{{author.id}}">{{author.first_name}} {{author.last_name}}</a>
                </div>       
                {%endfor%}
            </div>
            <a href="/books">Add Books</a>
        </div>
    </div>
</body>
</html>