<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Login & Registration</title>
</head>
<body>
    <div class="d-flex bg-dark text-white justify-content-between p-3">
        <h2 class="pl-5">Welcome {{user_session.first_name}} {{user_session.last_name}}!</h2>
        <div class="d-flex">
            <a class="m-2" href="/thoughts">Dashboard</a>
            <form class="pl-5" action="/logout/process" method="POST">
                <input type="submit" class="btn btn-outline-warning" value="Logout">
            </form>
        </div>
    </div>
    <div class="container mt-5">
        <div>
            <h2>{{user_thoughts.first_name}}'s Thoughts</h2>
            {%for thought in user_thoughts.thoughts%}
                <p class="user_thought m-5">{{thought.contents}}</p>
            {%endfor%}
        </div>
    </div>
</body>
</html>