<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Success</title>
</head>
<body>
    <div class="container p-5">
        <div>
            <h2>Welcome {{user.nombre}}</h2>
        </div>
        <form action="/logout/process", method="POST">
            <input type="submit" class="btn btn-secundary" value="Logout">
        </form>
    </div>
</body>
</html>