<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
</head> 
<body>
    <div class="container">
        <h1 class="text-center">All Useres</h1>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>email</th>
                <th>Created_at</th>
            </tr>
            {%for usuario in all_users%}
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.first_name}}</td>
                    <td>{{usuario.last_name}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.created_at}}</td>
                </tr>
            {%endfor%}
        </table>
        <a href="/new_users">Add a new user</a>
    </div>
</body>
</html>