.container {
    width: 800px;
    height: 400px;
    background-color: silver;
    margin: 0px auto;
}
.col {
    padding: 10px;
    background-color: blanchedalmond;
    display: inline-block;
}
.col p{
    font-size: 1.2rem;
}

