<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
</head>
<body>
    <div class="container w-50 p-5">
        <div class="d-flex justify-content-between">
            <h1>User {{usuario.id}}</h1>
            <a href="/">Home</a>
        </div>
        
        <div>
            <p>Full name: {{usuario.first_name}} {{usuario.last_name}}</p>
            <p>Email: {{usuario.email}}</p>
            <p>Created On: {{usuario.created_at}}</p>
            <p>Last Updated On: {{usuario.updated_at}}</p>
        </div>
        <div class="d-flex">
            <form class="mr-4" action="/update_user/{{usuario.id}}">
                <input type="submit" value="Edit">
            </form>
            <form action="/delete_user/process/{{usuario.id}}" method="POST">
                <input type="submit" value="Delet">
            </form>
        </div>
    </div>
</body>
</html>